.logo {
    max-width: 191px;
    min-height: 74px;
}

.logo__inner {
    margin-right: 205px;
}

.logo__link {
    display: block;
}

.logotype {
    display: block;
    width: 100%;
    height: 100%;
}